.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.765rem;
  padding-right: 0.765rem;
  padding-bottom: 0.765rem;
  background-color: #fff;
  z-index: 1;
}

/* sort view */
.sort-view {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.sort-view .active {
  background-color: black;
  border-radius: 3px;
  padding: 0.3rem;
  color: #fff;
}

.btn-sort {
  background-color: transparent;
  border-color: transparent;
  font-size: 0.7rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.sort-icon {
  color: var(--color-black);
}

.sort-view .active .sort-icon {
  color: var(--color-white);
}

.sort-view-products-number {
  font-size: 0.6rem;
  color: var(--color-black);
  font-weight: var(--font-weight-light);
  margin-left: 0.3rem;
}

/* form */

.form-sort {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-right: 0.2rem;
}

.form-sort label {
  font-size: 0.8rem;
  font-weight: var(--font-weight-light);
}

select.sort-input {
  color: var(--color-black);
  font-size: 0.8rem;
  height: 1.7rem;
  border-color: transparent;
  max-width: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort-select-icon {
  position: absolute;
  right: -0.7rem;
}

@media screen and (max-width: 2000px) {
}

@media screen and (max-width: 1150px) {
  .sort-container {
    position: sticky;
    top: 4.5rem;
    background-color: #fff;
    padding-bottom: 0.3rem;
  }
}
@media screen and (max-width: 650px) {
  /* .sort-view p {
    display: none;
  } */
}

@media screen and (max-width: 400px) {
  .sort-container {
    padding-top: 2rem;
  }

  form label {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 330px) {
  .sort-view-products-number {
    display: none;
  }
}
