.error-404-container {
  margin: 5rem 0;
  padding: 5rem 0;
}
.error-404-container h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--font-family-cursive);
}

.error-404-container img {
  width: 70%;
  margin: 1.765rem auto;
}

@media screen and (max-width: 1150px) {
  .error-404-container h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 750px) {
  .error-404-container h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .error-404-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    row-gap: 1.765rem;
  }
}
